{% extends "FamilyTreeBundle::main.index.twig" %}

{% block body %}
<div class="hero-unit" style="max-width: 250px">
    <h5>ثبت نام</h5>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock %}
